*{
    margin:0px;
    padding:0px;
}


.mainbox{
    width:574px;
    height:308px;
    /* border:2px solid yellow; */
    background-color: 
    #F7ECDC;
}
.date{
    width:120.07px;
    height:72.08px;
    /* border:2px solid rgb(49, 49, 17); */
    margin-left:32px;
    margin-top:49.53px;
    font-size:85px;
    font-weight: bold;

}
.th{
    position:absolute;
    top:65px;
    left:135px;
    font-size:30px;
}
.sept{
    /* border:2px solid blue; */
    font-size:30px;
    font-weight: lighter;
    margin-left:35px;
    margin-top:12px;
}
.webinar{position:absolute;
    top:65px;
    left:200px;
    width:332px;
    height:40px;
    /* border:2px solid green ; */
font-size:25px;
text-align:center;
/* padding:10px 0px; */
padding:8px, 16px, 4px, 16px;
color:white;
background-color: #F16B58;

}
.flexa{
    display:flex;
}