<div class="footerouterdiv">
    <section class="footer">
     <div class="footerdiv">
       <h4 class="footerHeading">AUSTRALIA INDIA WATER CENTER (AIWC)</h4>
      </div>
      <div class="footerlists">
     <ul>
       <li><a href="">Contact Us</a> </li>
       <li><a href="">Research</a> </li>
       <li><a href="">Education & Training</a> </li>
       <li><a href=""> News & Events</a></li>
      
     </ul>
      </div>
    <div class="copyright">
     © 2021 Australia India Water Centre (AIWC). All Rights Reserved
    </div>
    </section>
   </div>