<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>AIWC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
<div class="partner-head container-fluid flex-div">
    <div class="container ">
        <div class="row div-element-center media-col">
          <div class="col col-sm-4">
            <img src="Rectangle.png" alt="">
          </div>
          <div class="col col-sm-6 media-txt-cent head-txt">
            <h1>WESTERN SYNDEY UNIVERSITY</h1>
            <p>http://www.westernsydney.edu.au/</p>
          </div>
        </div>
      </div>
     
</div>
<div class="mobile-head"> 
  <h3>Institute Website</h3>
  <a href="http://www.westernsydney.edu.au/">http://www.westernsydney.edu.au/</a>
</div>
<div class="partner-body-wrapper">
    
      <div class="container-fluid insti-profile">
          <div class="row">
              <div class="col col-sm-8 insti-profile-txt">
                  <div class="border-title">
                 <h1>INSTITUTE PROFILE</h1>
                </div>
                 <p>
                     Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam omnis, eos vero quas cupiditate itaque facere architecto neque esse quasi mollitia nesciunt deserunt modi porro, perspiciatis molestiae doloribus, accusantium saepe.
                     Corrupti, veniam aliquid sit est quasi similique labore laborum vel nulla laboriosam necessitatibus deleniti consequatur sed, earum atque itaque quaerat, nobis nam ducimus commodi ex? Blanditiis neque at cum pariatur?
                     Repellendus earum ex natus cum nemo recusandae, omnis error repudiandae provident ipsa dicta officia amet atque optio dolorem. Voluptas atque velit modi, quia labore maxime numquam explicabo inventore harum laboriosam.
                     Fuga, blanditiis fugit sequi ipsam in commodi quia? Numquam mollitia saepe dolore similique deserunt id nostrum ullam corporis iste velit. Nostrum placeat velit sunt eius harum earum laboriosam, fuga hic!
                     Maiores illo impedit eius, in eligendi itaque consequuntur quas quod. Similique molestias aliquam eveniet impedit quaerat ea eligendi ad suscipit, illo doloribus maxime unde veniam voluptatem omnis nesciunt velit dolore.
                 </p>
              </div>
              <div class="col col-sm-4 insti-profile-img flex-div">
<img src="Rectangle.png" alt="">
              </div>
          </div>
      </div>
    
      <div class="container-fluid partner-avatar-div">
          <div class="border-title">
        <h1>INSTITUTE CONTACT PERSON FOR AIWC</h1>
    </div>
        
            <div class="flex">
                <div class="contact-div-1 ">
<img src="prof.png" alt="">
                </div>
                <div class="contact-div-2  ml-1">
                    <div class="light-border my-2">
                   <h3>SIDDHARTHA KUMAR</h3>
                </div>
                <div class="my-2">
                       <div class="flex qual-div">
                           <div class="">
<span>Qualification:</span>
                           </div>
                           <div class=" qual-detail">
<P>PHD, university of tokyo</P>
                           </div>
                       </div>
                       <div class="flex qual-div">
                        <div class="">
<span>Qualification:</span>
                        </div>
                        <div class=" qual-detail">
<P>PHD, university of tokyo</P>
                        </div>
                    </div>
                    <div class="flex qual-div">
                        <div class="">
<span>Qualification:</span>
                        </div>
                        <div class=" qual-detail">
<P>PHD, university of tokyo</P>
                        </div>
                    </div>
                    <div class="flex qual-div">
                        <div class="">
<span>Qualification:</span>
                        </div>
                        <div class=" qual-detail">
<P>PHD, university of tokyo</P>
                        </div>
                    </div>
                </div>
                   
                   <button>Show More</button>
                </div>
            </div>
       
      </div>
      
</div>
<div class="footerouterdiv">
    <section class="footer">
     <div class="footerdiv">
       <h4 class="footerHeading">AUSTRALIA INDIA WATER CENTER (AIWC)</h4>
      </div>
      <div class="footerlists">
     <ul>
       <li><a href="">Contact Us</a> </li>
       <li><a href="">Research</a> </li>
       <li><a href="">Education & Training</a> </li>
       <li><a href=""> News & Events</a></li>
      
     </ul>
      </div>
    <div class="copyright">
     © 2021 Australia India Water Centre (AIWC). All Rights Reserved
    </div>
    </section>
   </div>
</body>
</html>